@import './tailwind';
@import './vars';

.game {
  display: flex;
  flex-direction: row;
  
  &.done {
    .square {
      border-width: 2px;
      border-color: $DONE_BORDER_COLOR;
      color: $DONE_BORDER_COLOR;
    }  
  }
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: $SQUARE_SIZE;
    height: $SQUARE_SIZE;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: $SQUARE_SIZE;
  }
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game-info {
  margin-left: 20px;
}
